.loader {
  --background: linear-gradient(
    135deg,
    rgb(var(--primary-300)),
    rgb(var(--primary-500))
  );
  --shadow: rgba(rgb(var(--primary-500)), 0.28);
  --text: rgb(var(--white));
  --page: rgb(var(--white) / 0.36);
  --page-fold: rgb(var(--white) / 0.52);
  --duration: 3s;
  width: 150px;
  height: 100px;
  position: relative;
}

.loader::before,
.loader::after {
  --r: -6deg;
  content: '';
  position: absolute;
  bottom: 8px;
  width: 80px;
  top: 80%;
  box-shadow: 0 16px 12px var(--shadow);
  transform: rotate(var(--r));
}

.loader::before {
  left: 4px;
}

.loader::after {
  --r: 6deg;
  right: 4px;
}

.loader-container {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  perspective: 600px;
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background);
}

.loader-pages {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.loader-page {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  transform: rotateY(var(--r));
  animation: var(--duration) ease infinite;
}

.loader-page:first-child {
  --r: 0deg;
  --o: 1;
}

.loader-page:last-child {
  --o: 1;
}

.loader-page:nth-child(2) {
  --c: var(--page-fold);
  animation-name: page-2;
}

.loader-page:nth-child(3) {
  --c: var(--page-fold);
  animation-name: page-3;
}

.loader-page:nth-child(4) {
  --c: var(--page-fold);
  animation-name: page-4;
}

.loader-page:nth-child(5) {
  --c: var(--page-fold);
  animation-name: page-5;
}

.loader-svg {
  display: block;
  width: 65px;
  height: 80px;
}

.loader-text {
  position: relative;
  margin-top: 20px;
  text-align: center;
  color: var(--text);
  font-size: var(--fs-text-xl);
}

.loader-text::after {
  content: '\2026';
  position: absolute;
  overflow: hidden;
  display: inline-block;
  width: 0px;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 2.9s infinite;
}

@keyframes page-2 {
  0% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  35%,
  100% {
    opacity: 0;
  }
  50%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-3 {
  15% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
  65%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-4 {
  30% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65%,
  100% {
    opacity: 0;
  }
  80%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes page-5 {
  45% {
    transform: rotateY(180deg);
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80%,
  100% {
    opacity: 0;
  }
  95%,
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}
